@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css");

.App {
  padding: 0;
  font-family: "Lato", cursive;
  display: flex;
  height: 100%;
}

.center {
  display: flex;
  flex-direction: column;
  width: 82vw;
  height: 100vh;
}

.favoritesLeft {
  background-color: black;
  width: 18vw;
  padding-top: 30px;
}

.favoritesLeft h4 {
  padding-left: 20px;
  line-height: 0px;
}

.favoritesLeft p {
  padding-left: 20px;
  margin-top: 10px;
  color: white;
}

.favoritesLeft hr {
  width: 50%;
  margin: 0;
  margin-left: 20px;
  height: 1px;
  background-color: white;
  border: none;
}

.serachTop {
  height: 40vh;
  width: 100%;
  display: flex;
  background-color: #c70039;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.serachTop form {
  text-align: center;
}

.title,
.subtitle {
  color: white;
}

.input[type="text"] {
  width: 30vw;
  margin: 10px;
}

.resultsCenter {
  padding-top: 15px;
  height: 60vh;
  width: 100%;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: white;
  overflow: scroll;
}

.card {
  display: flex;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 350px;
  margin-top: 15px;
  height: 150px;
  margin-right: 25px;
}

.card p {
  margin: 0;
  padding: 0;
  line-height: 25px;
}

.card .left {
  width: 30%;
}

.card .right {
  width: 70%;
  height: 100%;
  padding-left: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.card .right .infor-Card {
  height: 100%;
}

.card .btn-card {
  margin: auto;
  padding-bottom: 20px;
  text-align: center;
  align-content: flex-end;
}

.card img {
  width: 100%;
  height: 100%;
}

.no-results {
  text-align: center;
  font-size: 2em;
  margin: auto;
}

.noRes {
  color: darkgray;
}

.resultLine {
  padding-top: 20px;
}

footer {
  padding: 5px;
  font-size: 0.9em;
  text-align: center;
}

/* Spinner */
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 984px) {
  .App {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }

  .favoritesLeft {
    height: 12vh;
    width: 100vw;
    text-align: center;
    padding-bottom: 10px;
  }

  .hide {
    display: none;
  }

  .serachTop {
    width: 100vw;
    height: 35vh;
  }

  .center {
    height: 100%;
  }

  .resultsCenter {
    width: 100vw;
    padding-left: 0px;
    height: 45vh;
  }

  .card {
    margin: auto;
    padding-top: 2px;
  }

  footer {
    width: 100vw;
    height: 7vh;
    font-size: 0.8em;
  }
}
